<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
</head>
<body>
    <h1>{{.User.Username}} photos</h1>

    <a href="/logout">Logout</a>
    <a href="/upload">Upload</a>

    <ul>
        {{range .Photos}}
            <li>
                <a href="/photo?id={{.Id}}">{{.Path}}</a>
                <a href="/delete_photo?id={{.Id}}">delete</a>
            </li>
        {{end}}
    </ul>   
</body>
</html>